.introducao-container {
  margin-left: 300px;
  margin-top: 40px;
  z-index: 9999;
}

.introducao-conteudo {
  margin-bottom: 40px;
}

.btn-introducao {
  font-size: 0.9rem;
  font-weight: bold;
  padding: 12px 100px;
  background-color: var(--cor-2);
  color: var(--cor-0);
  border: none;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.introducao-tratamentos {
  background-color: #ebdfc7;
  padding-bottom: 60px;
}

.introducao-tratamentos h1 {
  font-size: 2rem;
  text-align: center;
  margin-top: 20px;
  padding: 40px 0px;
}

.lista-tratamentos {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.lista-tratamentos img {
  max-width: 250px;
  border-radius: 6px;
}

.lista-tratamentos p {
  margin-top: 20px;
  text-align: center;
}

.lista-tratamentos p:hover {
  color: var(--cor-2);
}

@media (max-width: 1260px) {
  .introducao-container {
    margin-left: 0px;
  }

  .btn-introducao {
    font-size: 0.9rem;
    font-weight: bold;
    background-color: var(--cor-2);
    color: var(--cor-0);
    padding: 10px 80px;
    border: none;
    border-radius: 5px;
  }
}
